@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary: #d4d103;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero {
    height: 100%;
    width: 100%;
    color: white;
    background: #00000046;
}

.navbar {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.navbar .logo {
    position: absolute;
    left: 4rem;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.logo img {
    width: 35px;
    margin-right: 0.5rem;
}

.navbar .nav-links {
    position: absolute;
    right: 1rem;
    font-size: 18px;
}

.navbar .nav-links a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scale(0);
    transition: 0.3s;
}

.nav-links a:hover::after {
    transform: scale(1);
}

.hero-buttons {
    margin-top: 1rem;
}

.btn-primary {
    padding: 15px 25px 15px 25px;
    font-size: 17px;
    outline: none;
    border: none;
    background-color: var(--primary);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-secondary {
    padding: 15px 45px 15px 45px;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
    font-style: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover,
.btn-secondary:hover {
    transform: scale(1.1);
}

.hero-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

.hero-content h1 {
    font-size: 70px;
    font-family: "roboto";
}

.hero-content p {
    font-size: 22px;
}