* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    overflow: hidden;

}

.bgcolor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.103);
    flex-direction: column;
}

.bgcolor span {
    font-size: 50px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.829);
    transform: translateY(-50%);
    letter-spacing: 5px;
}

.container {
    background-color: transparent;
    backdrop-filter: blur(10px);
    height: 350px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login{
    padding: 20px;
}

.container span{
    font-size: 40px;
    color: rgba(0,0,0,0.856);
    position: relative;
    font-weight: 600;
    transform: translateY(-20px);
    font-family: 'Times New Roman', Times, serif;
}

.login input{
    width: 100%;
    outline: none;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 20px;
}

.login input:first-child{
    transform: translateX(-10px);
}
.login input:last-child {
    transform: translateX(-10px);
}

.login input::placeholder{
    font-size: 20px;
    color: rgba(0,0,0,0.877);
}

.btn{
    background-color: transparent;
    font-size: 25px;
    outline: none;
    border: 1px solid black;
    padding: 15px;
    border-radius: 50px;
    font-family: monospace;
    width: 50%;
    cursor: pointer;
    transform: translateY(-25%);
    transition: 0.1s transform;
}

.btn:hover{
    background-color: rgba(244,218,218,0.527);
}

.reg{
    transform: translateY(50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.reg a{
    color: blue;
}

.btn:active{
    transform: translateY(-14%);
}